@charset "ISO-8859-1";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    max-width: 20000px;
}
body{
  display: flex;
}

.sidebar{
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    width: 92px;
    height: 100vh;
    padding: -1px 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: #102447;

}

.sidebar:hover{
    width: 300px;
    padding: 16px;
    transition: 0.5s;

}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
   
}
.menu li {
    padding: 1rem;
    margin: 16px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, .active 
{
   background: rgb(102, 0, 255);
}

.menu a{
    color: #e7b315;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}.menu a i{
    font-size: 1.2rem;
}

.logout{
    padding: 1rem;
    margin: 16px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.main--content{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #cfb8b8;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 background:#fff;
 border-radius: 10px ;
 padding: 10px 2rem;
}
.header--title{
    color:black;
}
.user--info{
   display: flex;
   align-items: center;
   gap: 20px;
}
.searh--box{
    background-color: rgb(216, 203, 203);
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
}
.searh--box input{
  background-color: transparent;
  padding: 10px;

}

.searh--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.searh--box i:hover{
    transform: scale(1.3);
}
.section--container{
   margin-top: 12px;
   padding: 2rem; 
   background-color: #fff;
   border-radius: 10px;
}
